html {
  block-size: 100%;
  inline-size: 100%;
}
body {
  background-color: rgb(13, 84, 13);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}  
p {
  /* color: #eee; */
  font-size: large;
  text-align: justify;
}
header {
  display: flex;
  align-items: center; /* Center vertically */
}
h1 {
  font-size: 2rem;
  margin-inline-start: 10px; /* Adjust margin as needed */
  margin-inline-end: 10px;
  color: #eee;
}
h2 {
  margin: 5px;
  font-size: 1.3rem;
}
img {
  vertical-align: middle; /* Align the image vertically */
}
section {
  display: flex;
}
aside {
  flex: 1;
  flex-shrink: 0;
  padding: 20px;
  min-inline-size: 350px;
  /* max-block-size: 440px; */
  background-color: green;
  border: 2px solid #ccc;
  border-radius: 10px;
  /* margin-block-start: 20px; */
}
.display {
  display: flex;
}
.int-display {
  border-radius: 10px;
  padding: 10px;
  border: 5px solid #ccc;
  background-color: white;
  text-align: start;
  box-sizing: border-box;
}
@media screen and (min-width: 749px) {
  .display {
    flex-direction: column; /* Stack items vertically */
  }
  .int-display {
    flex: 1;
    margin-block-end: 10px; /* Add space between items */
  }
  .score-display,
  .short-display {
    max-inline-size: none; /* Reset max-inline-size for small screens */
  }
}
@media screen and (max-width: 750px) {
  .display {
    flex-direction: row; /* Arrange items horizontally */
  }
  .int-display {
    font-size: 1rem;
  }
  .score-display {
    flex: 3;
  }
  .short-display {
    flex: 1;
    text-align: center;
    margin-inline-start: 10px; /* Add space between items */
  }
}
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 750px) {
  section {
    flex-direction: column;
  }

}
.button-bar {
  display: flex;
  justify-content: space-between;
  margin-block-end: 10px;
}
.menu-button {
  flex: 1;
  display: inline-block;
  font-weight: bold;
  margin: 2px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #4CAF50; /* Green background color */
  color: #eee; /* White text color */
  border: 1px solid #4CAF50; /* Green border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add a pointer on hover */

}
.menu-button:hover {
  background-color: #45a049; /* Darker green on hover */
}
.game-section {
  justify-content: center; 
  padding: 20px;
  margin-block-end: 5%;
  flex-grow: 1;
  block-size: 100%;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 680px;
  max-block-size: 680px;
  gap: 2%;
}
.game-square {
  aspect-ratio: 1 / 1;
  max-inline-size: 100%; /* Allow the square to scale down horizontally */
  max-block-size: 100%; /* Allow the square to scale down vertically */
  border-radius: 10px;
  border: 5px solid #ccc;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(4px, 5vh, 48px);
  box-sizing: border-box;
  user-select: none;
  display: block;
}
.inline-image {
  max-inline-size: 60%;
  max-block-size: 60%;
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally within the container */
}
.sum-square {
  display: flex;
  flex-direction: column;
  block-size: 100%;
}
.sum-half {
  flex: 1;
  text-align: end;
  padding-inline-end: 10px;
  align-items: center; 
  box-sizing: border-box;
  display: flex;
  max-block-size: 50%;
  font-size: 50%;
}
.sum-top {
  justify-content: right;
  border-block-end: 5px solid #ccc;
}
.sum-bottom {
  position: relative;
  align-items: center;
  justify-content: center;
}

.game-button {
  cursor: pointer;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.game-square-front,
.game-square-back {
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0%;
  inset-inline-start: 0%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
  border: 3px solid black;
  box-sizing: border-box;
}
.game-square-back {
  background-color: #e96547;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-square-front {
  background-image: url('assets/Square.png');
  background-size: cover;
}
.selected {
  border: 5px solid red;
}
.selected.markup {
  border: 5px solid yellow;
}
.game-button.pressed {
  cursor: not-allowed;
  pointer-events: none; /* Disable further clicks on pressed squares */
}
.scaled-image {
  inline-size: 75%;
  block-size: 75%; /* Set the height to 75% of the parent container */
  max-block-size: 100%;
  max-inline-size: 100%;
  inline-size: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally within the container */
}
.full-image {
  position: absolute;
  block-size: 100%; 
  inset-block-start: 0%;
  inset-inline-start: 0%;
  inline-size: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally within the container */
}
.red {
  background-color: #de7055;
}
.green {
  background-color: #45a745;
}
.orange {
  background-color: #e69f44;
}
.blue {
  background-color: #3792f5;
}
.violet {
  background-color: #bf65dd;
}
.overlay-image {
  position: absolute;
  inset-block-start: 12.5%;
  inset-inline-start: 12.5%;
}
.zero-marker {
  position: absolute;
  block-size: 20%;
  inset-block-start: 10%;
  inset-inline-start: 10%;
}
.one-marker {
  position: absolute;
  block-size: 20%;
  inset-block-start: 10%;
  inset-inline-start: 70%;
}
.two-marker {
  position: absolute;
  block-size: 20%;
  inset-block-start: 70%;
  inset-inline-start: 10%;
}
.three-marker {
  position: absolute;
  block-size: 20%;
  inset-block-start: 70%;
  inset-inline-start: 70%;
}
.markup-button {
  cursor: pointer;
  background-color: #e96547;
  background-image: url('assets/Small-square-faded.png');
  background-size: cover;
}
.markup-button:hover {
  border: 5px solid yellow;
}
.markup-button.pressed {
  border: 5px solid yellow;
  background-image: url('assets/Small-square.png');
}
.markup-zero {
  position: absolute;
  block-size: 30%;
  inset-block-start: 12.5%;
  inset-inline-start: 12.5%;
}
.markup-one {
  position: absolute;
  block-size: 30%;
  inset-block-start: 12.5%;
  inset-inline-start: 58.5%;
}
.markup-two {
  position: absolute;
  block-size: 30%;
  inset-block-start: 58.5%;
  inset-inline-start: 12.5%;
}
.markup-three {
  position: absolute;
  block-size: 30%;
  inset-block-start: 58.5%;
  inset-inline-start: 58.5%;
}




.toggle-switch {
  position: relative;
  display: inline-block;
  inline-size: 60px;
  block-size: 34px;
}
.toggle-switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  block-size: 26px;
  inline-size: 26px;
  inset-inline-start: 4px;
  inset-block-end: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}
.toggle-switch input:checked + .slider {
  background-color: #2196F3;
}
.toggle-switch input:checked + .slider:before {
  transform: translateX(26px);
}

/* Add this to your CSS */
.popup {
  display: none;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

@keyframes shake {
  10%, 90% {
    transform: translate(-5px, 0);
  }
  20%, 80% {
    transform: translate(5px, 0);
  }
  30%, 50%, 70% {
    transform: translate(-5px, 0);
  }
  40%, 60% {
    transform: translate(5px, 0);
  }
}