html {
  block-size: 100%;
  inline-size: 100%;
}
body {
  background-color: rgb(13, 84, 13);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}  
p {
  color: #eee;
  font-size: large;
  text-align: justify;
}
header {
  display: flex;
  align-items: center; /* Center vertically */
}
h1 {
  font-size: 2rem;
  margin-inline-start: 10px; /* Adjust margin as needed */
  margin-inline-end: 10px;
  color: #eee;
}
h2 {
  margin: 5px;
  font-size: 1.3rem;
}
img {
  vertical-align: middle; /* Align the image vertically */
}
section {
  display: flex;
}
aside {
  flex: 1;
  padding: 20px;
  min-inline-size: 360px;
  /* max-inline-size: 360px; */
  background-color: green;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-block-start: 20px;
}
.sum-half {
  flex: 1;
  block-size: 50%;
  inline-size: 100%;
  text-align: end;
  padding-inline-end: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.scoreSum,
.bombSum {
  block-size: 100%;
  inline-size: 100%;
  text-align: end; 
  padding: 5px; 
}
.sum-top {
  border-block-end: 5px solid #ccc;
}

/* .sum-half {
  block-size: 50%;
  inline-size: 100%;
  text-align: end;
  padding-inline-end: 10px;
  align-items: center; 
  box-sizing: border-box;
}
.sum-top {
  border-block-end: 5px solid #ccc;
}
.sum-bottom {
  display: flex;
} */
.display {
  display: flex;
}
.int-display {
  /* flex: 1; */
  border-radius: 10px; /* Rounded corners */
  padding: 10px;
  border: 5px solid #ccc;
  background-color: white;
  text-align: start;
  box-sizing: border-box;
}
/* .score-display {
  flex: 3;
}
.short-display {
  flex: 1;
} */
@media screen and (min-width: 849px) {
  .display {
    flex-direction: column; /* Stack items vertically */
  }
  .int-display {
    flex: 1;
    margin-block-end: 10px; /* Add space between items */
  }
  .score-display,
  .short-display {
    max-inline-size: none; /* Reset max-inline-size for small screens */
  }
}
@media screen and (max-width: 850px) {
  .display {
    flex-direction: row; /* Arrange items horizontally */
  }
  .int-display {
    font-size: 1.2rem;
  }
  .score-display {
    flex: 3;
  }
  .short-display {
    flex: 1;
    text-align: center;
    margin-inline-start: 10px; /* Add space between items */
  }
}
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 850px) {
  section {
    flex-direction: column;
  }

}
.button-bar {
  display: flex;
  justify-content: space-between;
  margin-block-end: 10px;
}
.menu-button {
  flex: 1;
  display: inline-block;
  font-weight: bold;
  margin: 2px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #4CAF50; /* Green background color */
  color: #eee; /* White text color */
  border: 1px solid #4CAF50; /* Green border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add a pointer on hover */

}
.menu-button:hover {
  background-color: #45a049; /* Darker green on hover */
}
.game-section {
  display: flex;
  justify-content: center; 
  flex: 3;
  padding: 20px;
  margin-block-end: 5%;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 680px;
  max-block-size: 680px;
  gap: 2%;
}
.game-square {
  aspect-ratio: 1 / 1;
  max-inline-size: 100%; /* Allow the square to scale down horizontally */
  max-block-size: 100%; /* Allow the square to scale down vertically */
  border-radius: 10px;
  border: 5px solid #ccc;
  background-color: green;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(16px, 2vw, 32px);
  box-sizing: border-box;
  user-select: none;
  display: block;
}

.game-button {
  cursor: pointer;
}
.game-button:not(.pressed) {
  background-image: url('assets/Square.png');
  background-size: cover;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
}
.game-button:not(.pressed):hover {
  border: 5px solid red;
}
.selected {
  border: 5px solid red;
}
.game-button.pressed {
  background-color: #e96547;
  cursor: not-allowed;
  pointer-events: none; /* Disable further clicks on pressed squares */
}
.scaled-image {
  inline-size: 75%;
  block-size: 75%; /* Set the height to 75% of the parent container */
  max-block-size: 100%;
  max-inline-size: 100%;
  inline-size: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally within the container */
}
.full-image {
  position: absolute;
  block-size: 100%; 
  inset-block-start: 0%;
  inset-inline-start: 0%;
  /* max-block-size: 100%; */
  /* max-inline-size: 100%; */
  inline-size: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally within the container */
}
.red {
  background-color: #de7055;
}
.green {
  background-color: #45a745;
}
.orange {
  background-color: #e69f44;
}
.blue {
  background-color: #3792f5;
}
.violet {
  background-color: #bf65dd;
}
.image-container {
  position: relative;
}
.overlay-image {
  position: absolute;
  inset-block-start: 12.5%;
  inset-inline-start: 12.5%;
}
.zero-marker {
  position: absolute;
  block-size: 20%;
  inset-block-start: 10%;
  inset-inline-start: 10%;
}
.one-marker {
  position: absolute;
  block-size: 20%;
  inset-block-start: 10%;
  inset-inline-start: 70%;
}
.two-marker {
  position: absolute;
  block-size: 20%;
  inset-block-start: 70%;
  inset-inline-start: 10%;
}
.three-marker {
  position: absolute;
  block-size: 20%;
  inset-block-start: 70%;
  inset-inline-start: 70%;
}