html {
  block-size: 100%;
  inline-size: 100%;
}
body {
  background-color: rgb(13, 84, 13);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}  
header {
  display: flex;
  align-items: center; /* Center vertically */
  padding: 10px; /* Add padding for spacing */
}
h1 {
  font-size: 2rem;
  margin-inline-start: 10px; /* Adjust margin as needed */
  color: #eee;
}
img {
  vertical-align: middle; /* Align the image vertically */
}
section {
  display: flex;
}
aside {
  flex: 1;
  padding: 20px;
  min-inline-size: 360px;
  /* max-inline-size: 360px; */
}
.sum-half {
  block-size: 50%;
  inline-size: 100%;
  text-align: end;
  padding-inline-end: 10px;
  align-items: center; /* Center content vertically within each half */
  box-sizing: border-box;
}
.sum-top {
  border-block-end: 5px solid #ccc;
}
.sum-bottom {
  display: flex;
}
#score-display {
  border-radius: 10px; /* Rounded corners */
  padding: 10px;
  border: 5px solid #ccc;
  background-color: white;
  text-align: start;
  font-size: 1.5rem;
  box-sizing: border-box;
  max-inline-size: 360px;
}
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 800px) {
  section {
    flex-direction: column;
  }

}
.menu-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50; /* Green background color */
  color: #eee; /* White text color */
  border: 1px solid #4CAF50; /* Green border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add a pointer on hover */
}
/* Add additional styles for hover, active, or other states if needed */
.menu-button:hover {
  background-color: #45a049; /* Darker green on hover */
}
.game-section {
  display: flex;
  justify-content: center; 
  flex: 3;
  padding: 20px;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 680px;
  max-block-size: 680px;
  gap: 2%;
}
.game-square {
  aspect-ratio: 1 / 1;
  max-inline-size: 100px; /* Adjust the maximum width as needed */
  max-block-size: 100px; 
  inline-size: 100%;
  block-size: 100%;
  border-radius: 10px; /* Rounded corners */
  border: 5px solid #ccc;
  background-color: goldenrod;
  text-align: center;
  /* font-size: clamp(100%, 1rem, 1rem); */
  font-size: clamp(16px, 2vw, 32px);
  /* font-size: 2em; */
  box-sizing: border-box;
  user-select: none; /* Prevent text selection on double-click */
  display: block;
}

.game-button {
  cursor: pointer;
}
/* Style for unpressed squares */
.game-button:not(.pressed) {
  background-color: green;
}
/* Style for unpressed squares */
.game-button:not(.pressed):hover {
  border: 5px solid red;
}
.game-button.flagged::after {
  content: '\2022'; /* Unicode character for a filled circle */
  position: relative;
  inset-block-start: -30%;
  inset-inline-start: -35%;
  font-size: 4vw; /* Adjust the font size as needed */
  color: rgb(255, 197, 52); /* Color of the circle */
}

/* Style for pressed squares */
.game-button.pressed {
  background-color: #e96547;
  cursor: not-allowed;
  pointer-events: none; /* Disable further clicks on pressed squares */
}
/* Add a class for the scaled image */
.scaled-image {
  block-size: 75%; /* Set the height to 75% of the parent container */
  max-block-size: 100%;
  max-inline-size: 100%;
  inline-size: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally within the container */
}
.red {
  background-color: #de7055;
}
.green {
  background-color: #45a745;
}
.orange {
  background-color: #e69f44;
}
.blue {
  background-color: #3792f5;
}
.violet {
  background-color: #bf65dd;
}